<h1>Hello World!</h1>

<% @array.each do |item| %>
  <p><%= item %>
<% end %>

<a href="/students/welldone">Welldone Page</a>

<p><%= link_to("Welldone 2", { controller: 'students', action: 'welldone' })%></p>
<p><%= link_to("Welldone With params", { controller: 'students', action: 'welldone', page: 2, id: 12 })%></p>

<p><%= link_to('All Subjects', subjects_path) %></p>
