<p>
  <%= link_to("<< Back to List", pages_path, :class => "back-link")%>
</p>

<div class="pages new">
  <h2>Delete Page</h2>
  <%= form_for(@page,:method => "delete") do |form| %>
    <p>Are you sure you want to permanently delete this page?</p>

    <p><%= @page.name %></p>
    <div class="form-buttons">
      <%= form.submit("Delete Page") %>
    </div>
  <% end %>
</div>
